// BUTTON GENERAL ARCHIVE
.btn-archive {
    color: var(--tx-color-1);
    background-color: var(--bg-col-1);
    border-color: var(--bg-col-1);

    &:hover {
        color: var(--tx-color-1);
        background-color: var(--bg-col-4);
        border-color: var(--bg-col-4);
    }
}

// TAG POST FRONT
.tag-list {
    .tag {

        background: var(--bg-tag-color-1);
        // padding: 5px 10px 5px 10px;
        // border-top-left-radius: calc(.25rem - 1px);
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: 500;
        margin-right: 5px;
        color: var(--tx-tag-color-1);
        z-index: 1;

        a {
            color: var(--tx-tag-color-1);
            text-decoration: none;
        }

        a:hover {
            color: var(--tx-tag-color-1);
            text-decoration: underline;
        }

    }
}

// CALENDAR CUSTOM BOX  
.box-1 {
    background: var(--bg-col-1);
    color: var(--tx-color-1);

    .card-title {
        line-height: 35px;

        .day {
            font-weight: 600;
            font-size: 3.5rem;
            color: var(--tx-color-1);
        }

        .month {
            font-size: 1.5rem;
            color: var(--tx-color-1);
            font-weight: 300;

        }
    }

    .card-footer {
        background: var(--bg-col-1);
        border-top: 0;

        .fa-map-marker-alt {
            color: var(--tx-color-1);

            &.up {
                transition: all .2s ease-in-out;


                &:hover {
                    transform: translateY(-5px);

                }
            }
        }
    }
}
.box-2 {
    background: var(--bg-col-1);
    color: var(--tx-color-1);

    .card-header {
        background: var(--bg-col-1);
        border-bottom: 0;

        .fa-map-marker-alt {
            color: var(--tx-color-1);

            &.up {
                transition: all .2s ease-in-out;


                &:hover {
                    transform: translateY(-5px);

                }
            }
        }
    }

    .card-title {
        line-height: 35px;

        .day {
            font-weight: 600;
            font-size: 3.5rem;
            color: var(--tx-color-1);
        }

        .month {
            font-size: 1.5rem;
            color: var(--tx-color-1);
            font-weight: 300;

        }
    }

    .card-footer {
        background: var(--bg-col-1);
        border-top: 0;
    }
}
.box-3 {
    background: var(--bg-col-2);
    color: var(--tx-color-1);

    .card-header {
        background: var(--bg-col-1);
        border-bottom: 0;
    }

    .attached {
        font-weight: 300;
        font-size: .8rem;
    }

    .card-title {
        line-height: 35px;

        .day {
            font-weight: 600;
            font-size: 3.5rem;
            color: var(--tx-color-1);
        }

        .month {
            font-size: 1.5rem;
            color: var(--tx-color-1);
            font-weight: 300;

        }
    }

    .card-footer {
        background: var(--bg-col-2);
        border-top: 0;

        .fa-map-marker-alt {
            color: var(--tx-color-1);

            &.up {
                transition: all .2s ease-in-out;


                &:hover {
                    transform: translateY(-5px);

                }
            }
        }
    }
}

.box-4 {
    background: var(--bg-col-3);
    color: var(--tx-color-3);
    // width: 200px;

    .card-header {
        background: var(--bg-col-1);
        color: var(--tx-color-1);
        border-bottom: 0;

        .fa-map-marker-alt {
            color: var(--tx-color-1);

            &.grow {
                transition: all .2s ease-in-out;

                &:hover {
                    transform: scale(1.5);
                }
            }
        }
    }

    .attached {
        font-weight: 300;
        font-size: .8rem;
    }


    .card-title {
        line-height: 35px;
        color: var(--tx-color-3);

        .day {
            font-weight: 600;
            font-size: 3.5rem;

        }

        .month {
            font-size: 1.5rem;

            font-weight: 300;

        }
    }
}
.box-5 {
    background: var(--bg-col-2);
    color: var(--tx-color-1);

    .card-header {
        background: var(--bg-col-1);
        border-bottom: 0;
    }



    .attached {
        font-weight: 300;
        font-size: .8rem;

        .link {
            color: var(--tx-color-1);

            &:hover {
                text-decoration: none;
            }
        }


    }

    .card-title {
        line-height: 35px;


        .day {
            font-weight: 600;
            font-size: 3.5rem;
            color: var(--tx-color-1);
        }

        .cal-y {
            display: grid;
            line-height: 21px;

            .month {
                font-size: 1.5rem;
                color: var(--tx-color-1);
                font-weight: 300;

            }

            .year {
                font-size: 1.2rem;
                color: var(--tx-color-1);
                font-weight: 700;

            }
        }

    }

    .card-footer {
        background: var(--bg-col-2);

        .fa-map-marker-alt {
            color: var(--tx-color-1);

            &.up {
                transition: all .2s ease-in-out;


                &:hover {
                    transform: translateY(-5px);

                }
            }
        }
    }
}