.btn-archive {
  color: var(--tx-color-1);
  background-color: var(--bg-col-1);
  border-color: var(--bg-col-1);
}

.btn-archive:hover {
  color: var(--tx-color-1);
  background-color: var(--bg-col-4);
  border-color: var(--bg-col-4);
}

.tag-list .tag {
  background: var(--bg-tag-color-1);
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: 500;
  margin-right: 5px;
  color: var(--tx-tag-color-1);
  z-index: 1;
}

.tag-list .tag a {
  color: var(--tx-tag-color-1);
  text-decoration: none;
}

.tag-list .tag a:hover {
  color: var(--tx-tag-color-1);
  text-decoration: underline;
}

.box-1 {
  background: var(--bg-col-1);
  color: var(--tx-color-1);
}

.box-1 .card-title {
  line-height: 35px;
}

.box-1 .card-title .day {
  font-weight: 600;
  font-size: 3.5rem;
  color: var(--tx-color-1);
}

.box-1 .card-title .month {
  font-size: 1.5rem;
  color: var(--tx-color-1);
  font-weight: 300;
}

.box-1 .card-footer {
  background: var(--bg-col-1);
  border-top: 0;
}

.box-1 .card-footer .fa-map-marker-alt {
  color: var(--tx-color-1);
}

.box-1 .card-footer .fa-map-marker-alt.up {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.box-1 .card-footer .fa-map-marker-alt.up:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.box-2 {
  background: var(--bg-col-1);
  color: var(--tx-color-1);
}

.box-2 .card-header {
  background: var(--bg-col-1);
  border-bottom: 0;
}

.box-2 .card-header .fa-map-marker-alt {
  color: var(--tx-color-1);
}

.box-2 .card-header .fa-map-marker-alt.up {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.box-2 .card-header .fa-map-marker-alt.up:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.box-2 .card-title {
  line-height: 35px;
}

.box-2 .card-title .day {
  font-weight: 600;
  font-size: 3.5rem;
  color: var(--tx-color-1);
}

.box-2 .card-title .month {
  font-size: 1.5rem;
  color: var(--tx-color-1);
  font-weight: 300;
}

.box-2 .card-footer {
  background: var(--bg-col-1);
  border-top: 0;
}

.box-3 {
  background: var(--bg-col-2);
  color: var(--tx-color-1);
}

.box-3 .card-header {
  background: var(--bg-col-1);
  border-bottom: 0;
}

.box-3 .attached {
  font-weight: 300;
  font-size: .8rem;
}

.box-3 .card-title {
  line-height: 35px;
}

.box-3 .card-title .day {
  font-weight: 600;
  font-size: 3.5rem;
  color: var(--tx-color-1);
}

.box-3 .card-title .month {
  font-size: 1.5rem;
  color: var(--tx-color-1);
  font-weight: 300;
}

.box-3 .card-footer {
  background: var(--bg-col-2);
  border-top: 0;
}

.box-3 .card-footer .fa-map-marker-alt {
  color: var(--tx-color-1);
}

.box-3 .card-footer .fa-map-marker-alt.up {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.box-3 .card-footer .fa-map-marker-alt.up:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.box-4 {
  background: var(--bg-col-3);
  color: var(--tx-color-3);
}

.box-4 .card-header {
  background: var(--bg-col-1);
  color: var(--tx-color-1);
  border-bottom: 0;
}

.box-4 .card-header .fa-map-marker-alt {
  color: var(--tx-color-1);
}

.box-4 .card-header .fa-map-marker-alt.grow {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.box-4 .card-header .fa-map-marker-alt.grow:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.box-4 .attached {
  font-weight: 300;
  font-size: .8rem;
}

.box-4 .card-title {
  line-height: 35px;
  color: var(--tx-color-3);
}

.box-4 .card-title .day {
  font-weight: 600;
  font-size: 3.5rem;
}

.box-4 .card-title .month {
  font-size: 1.5rem;
  font-weight: 300;
}

.box-5 {
  background: var(--bg-col-2);
  color: var(--tx-color-1);
}

.box-5 .card-header {
  background: var(--bg-col-1);
  border-bottom: 0;
}

.box-5 .attached {
  font-weight: 300;
  font-size: .8rem;
}

.box-5 .attached .link {
  color: var(--tx-color-1);
}

.box-5 .attached .link:hover {
  text-decoration: none;
}

.box-5 .card-title {
  line-height: 35px;
}

.box-5 .card-title .day {
  font-weight: 600;
  font-size: 3.5rem;
  color: var(--tx-color-1);
}

.box-5 .card-title .cal-y {
  display: -ms-grid;
  display: grid;
  line-height: 21px;
}

.box-5 .card-title .cal-y .month {
  font-size: 1.5rem;
  color: var(--tx-color-1);
  font-weight: 300;
}

.box-5 .card-title .cal-y .year {
  font-size: 1.2rem;
  color: var(--tx-color-1);
  font-weight: 700;
}

.box-5 .card-footer {
  background: var(--bg-col-2);
}

.box-5 .card-footer .fa-map-marker-alt {
  color: var(--tx-color-1);
}

.box-5 .card-footer .fa-map-marker-alt.up {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.box-5 .card-footer .fa-map-marker-alt.up:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
/*# sourceMappingURL=components.css.map */