@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import "bootstrap/bootstrap";

body {
    background: #121212;
}

:root {
    /* GENERAL FONT */
    --font1: "Titillium Web", sans-serif;
    /* GENERAL COLOR */
    --bg-col-1: #0059b3;
    --bg-col-2: #dc3545;
    --bg-col-3: #fff;
    --bg-col-4: #024c96;
    --tx-color-1: #fff;
    --tx-color-2: #000;
    --tx-color-3: #0059b3;
    // FOCUS START
    /* READ MORE COLOR */
    --tx-rm-color-1: #fff;
    --bg-rm-color-1: #fff;
    /* TAG BOTTOM-RIGHT COLOR */

    /* FOOTER CARD COLOR */
    --bg-ft-col-1: #0059b3;
    --tx-ft-color-1: #fff;

    // INTEREST
    --bg-interest-section: rgb(255, 255, 255);
    --tx-interest-section-title: #212529;
    // INTEREST CARD 1
    --bg-interest-card1: #dc3545;
    --tx-interest-card1-body: #fff;
    --tx-interest-card1-link: #fff;
    // INTEREST CARD 2
    --bg-interest-card2: #0059b3;
    --tx-interest-card2-body: #fff;
    --tx-interest-card2-link: #fff;
    // post section
    --tx-post-section-title: #212529;
    --bg-post-section: aliceblue;

    --bg-post-title: #fff;
    --tx-post-title: #212529;
    --bg-post-image-overlay: rgba(0, 89, 179, 0.5);

    // focus section
    --tx-focus-section-title: #212529;
    --bg-focus-section: aliceblue;
    --bg-focus-card-overlay: rgba(0, 89, 179, 0.5);
    --tx-focus-hover: #fff;

    --tx-focus-font-weight: 400;

    --tx-focus-tag-color-1: #fff;
    --bg-focus-tag-color-1: #0059b3;

    --bg-focus-cat: #0059b3;
    --tx-focus-cat: #fff;

    --bg-focus-footer: #0059b3;
    --tx-focus-footer: #fff;

    
    --bg-focus-card: #fff;
    --tx-focus-card: #000;

    //custom slider
    --tx-slider-section-title: #212529;
    --bg-slider-section: rgb(250, 250, 250);
    
    --bg-slider-card-4: #fff;
    --tx-slider-card-4: #0059b3;


    //button arrow & archive
    --tx-button: #fff;
    --bg-button: #0059b3;
}


.dark-mode {

 //custom slider
 --tx-slider-section-title: #ffffff;
 --bg-slider-section: #121212;

 --bg-slider-card-4: #272727;
 --tx-slider-card-4: #fff;

    /* GENERAL COLOR */
    --bg-col-1: #121212;
    --tx-color-1: #fff;

    //button arrow & archive
    --tx-button: #fff;
    --bg-button: #272727;
    --bg-button-border: #272727;
    --bg-button-hover: #fff;
    --tx-button-hover: #272727;
    --bg-button-focus: #0f0f0f40;
    



    // INTEREST
    --bg-interest-section: #121212;
    --tx-interest-section-title: #fff;
    // INTEREST CARD 1
    --bg-interest-card1: #272727;
    --tx-interest-card1-body: #fff;
    --tx-interest-card1-link: #fff;
    // INTEREST CARD 2
    --bg-interest-card2: #272727;
    --tx-interest-card2-body: #fff;
    --tx-interest-card2-link: #fff;

    //posts-section
    --tx-post-section-title: #fff;
    --bg-post-section: #121212;
    --bg-post-title: #272727;
    --tx-post-title: #fff;
    --bg-post-image-overlay: rgba(0, 0, 0, 0.5);


    //focus-section
    --tx-focus-section-title: #fff;
    --bg-focus-section: #121212;
    --bg-focus-card-overlay: rgba(0, 0, 0, 0.5);
    --tx-focus-hover: #fff;
    
    --bg-focus-card: #272727;
    --tx-focus-card: #fff;

    --tx-focus-font-weight: 100;


    --tx-focus-tag-color-1: #fff;
    --bg-focus-tag-color-1: #272727;

    --tx-focus-cat: #272727;
    --bg-focus-cat: #fff;
    --tx-focus-tag-a:#fff;

    --bg-focus-footer: #272727;
    --tx-focus-footer: #fff;
    --focus-border-card: 0;


}



.custom-slider {
    font-family: var(--font1);
    background: var(--bg-slider-section);
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;

    .title-section {
        font-weight: 700;
        text-transform: uppercase;
        color: var(--tx-interest-section-title);
    }

    .swiper-container {

        // width: 600px;
        // height: 300px;
        // START BOX-4
        .card.box-4 {
            background: var(--bg-slider-card-4);
            color: var(--tx-slider-card-4);
            // width: 200px;

            .card-header {
                background: var(--bg-slider-card-4);
                color: var(--tx-slider-card-4);
                border-bottom: 0;

                .fa-map-marker-alt {
                    color: var(--tx-slider-card-4);

                    &.grow {
                        transition: all .2s ease-in-out;

                        &:hover {
                            transform: scale(1.5);
                        }
                    }
                }
            }

            .attached {
                font-weight: 300;
                font-size: .8rem;
            }


            .card-title {
                line-height: 35px;
                color: var(--tx-slider-card-4);

                .day {
                    font-weight: 600;
                    font-size: 3.5rem;

                }

                .month {
                    font-size: 1.5rem;

                    font-weight: 300;

                }
            }
        }

        // END BOX-4
        // START BOX-5
        .card.box-5 {
            background: var(--bg-col-2);
            color: var(--tx-color-1);

            .card-header {
                background: var(--bg-col-1);
                border-bottom: 0;
            }



            .attached {
                font-weight: 300;
                font-size: .8rem;

                .link {
                    color: var(--tx-color-1);

                    &:hover {
                        text-decoration: none;
                    }
                }


            }

            .card-title {
                line-height: 35px;


                .day {
                    font-weight: 600;
                    font-size: 3.5rem;
                    color: var(--tx-color-1);
                }

                .cal-y {
                    display: grid;
                    line-height: 21px;

                    .month {
                        font-size: 1.5rem;
                        color: var(--tx-color-1);
                        font-weight: 300;

                    }

                    .year {
                        font-size: 1.2rem;
                        color: var(--tx-color-1);
                        font-weight: 700;

                    }
                }

            }

            .card-footer {
                background: var(--bg-col-2);

                // border-top: 0;   
                .fa-map-marker-alt {
                    color: var(--tx-color-1);

                    &.grow {
                        transition: all .2s ease-in-out;

                        &:hover {
                            transform: scale(1.5);
                        }
                    }
                }
            }
        }

        // END BOX-5
    }




}






// BUTTON GENERAL
.btn-archive {
    color: var(--tx-button);
    background: var(--bg-button);
    border-color: var(--bg-button-border);
    
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;

    &:hover {
        color: var(--tx-button-hover);
        background-color: var(--bg-button-hover);
        border-color: var(--bg-button-hover);
    }

    &:focus {
        -webkit-box-shadow: 0 0 0 0.25rem var(--bg-button-focus);
        box-shadow: 0 0 0 0.25rem var(--bg-button-focus);
    }




}

.focus-section {
    background: var(--bg-focus-section);
    font-family: var(--font1);
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;

    .title-section {
        font-weight: 700;
        text-transform: uppercase;
        color: var(--tx-focus-section-title);
    }

    .card {
        font-size: 1rem;
        border: var(--focus-border-card);
       .card-body {
        background: var(--bg-focus-card);
        color: var(--tx-focus-card);
        .card-text {
        font-weight: var(--tx-focus-font-weight);
       }
    }


        .card-image {
            position: relative;

            .image-overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: 0.5s ease;
                background: var(--bg-focus-card-overlay);
            }

            &:hover .image-overlay {
                opacity: 1;
            }
        }

        .text-img-over {
            position: relative;


            .overlay {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                transition: 0.5s ease;
                background: var(--bg-focus-card-overlay);
            }

            &:hover .overlay {
                opacity: 1;
            }
        }

        .social-hover {
            color: var(--tx-focus-hover);
            font-size: 30px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;


            .fa-share-alt {
                color: var(--tx-focus-hover);

                &:hover {
                    color: var(--tx-color-1);
                }
            }


        }

        .hover-text {
            position: relative;
            text-align: center;
            color: var(--tx-focus-hover);
        }

        .bottom-right-tag {
            position: absolute;
            bottom: 0;
            right: 0;
            background: var(--bg-focus-tag-color-1);
            padding: 5px 10px 5px 10px;
            border-top-left-radius: calc(.25rem - 1px);
            font-size: 0.8rem;
            font-weight: 200;
            color: var(--tx-focus-tag-color-1);
            z-index: 1;

            a {
                color: var(--tx-focus-tag-color-1);
                text-decoration: none;
            }

            a:hover {
                color: var(--tx-focus-tag-color-1);
                text-decoration: underline;
            }

        }



        .sub-cat {
            font-weight: 600;
            font-size: 1rem;

            .bg-category {
                background: var(--bg-focus-cat);
                color: var(--tx-focus-cat);
            }

            a {
                color: var(--tx-focus-tag-a);
            }
        }



        .card-title {
            font-family: var(--font1);
            font-weight: 600;
            font-size: 1.3rem;
            /* height: 73px;
  overflow: hidden; */
        }

        .card-footer {
            background: var(--bg-focus-footer);
            color: var(--tx-focus-footer);

            .card-footer__info {
                font-size: 1rem;
                font-weight: 300;
                position: relative;
            }

        }


        .read-more {
            position: absolute;
            right: 0;
            font-weight: 600;
        }

        .read-more-1 {
            text-decoration: none;
            position: relative;
            color: var(--tx-focus-footer);
        }

        .read-more-1::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: var(--bg-rm-color-1);
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 250ms ease-in;
        }

        .read-more-1:hover {
            color: var(--tx-focus-footer);
        }

        .read-more-1:hover::after {
            transform: scaleX(1);
            transform-origin: right;
            color: var(--tx-focus-footer);
        }

        .read-more-2 {
            text-decoration: none;
            position: relative;
            margin-right: 15px;
            color: var(--tx-focus-footer);
        }

        .read-more-2::after {
            content: "";
            /* You should use \ and not /*/
            font-family: "Font Awesome 5 Free";
            /* This is the correct font-family*/
            position: absolute;
            right: -18px;
            bottom: 0;
            color: var(--tx-focus-footer);
        }

        .read-more-2:hover {
            color: var(--tx-focus-footer);
        }

        .read-more-2:hover::after {
            transform: translate(3px, 0);
            transition: all 0.1s ease-in;
            color: var(--tx-focus-footer);
        }

        .read-more-3 {
            text-decoration: none;
            position: relative;
            color: var(--tx-focus-footer);
        }

        .read-more-3:hover {
            color: var(--tx-focus-footer);
            text-decoration: underline;
        }


    }
}


.posts-section {
    background: var(--bg-post-section);
    font-family: var(--font1);
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;


    .title-section {
        font-weight: 700;
        text-transform: uppercase;
        color: var(--tx-post-section-title);
    }

    .bg-card {
        background: var(--bg-post-title);
        color: var(--tx-post-title);
    }

    .post-body h2 {
        font-weight: 600;      
    }

    .post-info {
        font-size: .8rem;
        font-weight: 300;
    }




    .text-img-over {
        position: relative;

        .card-img-top {

            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: 0.5s ease;
            background: var(--bg-post-image-overlay);
        }

        &:hover .overlay {
            opacity: 1;
        }
    }

    .social-hover {
        color: var(--tx-color-1);
        font-size: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;


        .fa-share-alt {
            color: var(--tx-color-1);

            &:hover {
                color: var(--tx-color-1);
            }
        }


    }


}


.interest-section {
    background: var(--bg-interest-section);
    font-family: var(--font1);
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;

    .title-section {
        font-weight: 700;
        text-transform: uppercase;
        color: var(--tx-interest-section-title);
    }

    .card.ins-1 {
        background: var(--bg-interest-card1);

        .card-body {
            color: var(--tx-interest-card1-body);
            min-height: 78px;

            .title-box {
                h3 {
                    font-weight: 700;
                    font-size: 1.2rem;

                    .icon-left {
                        font-size: 1.3rem;
                        transition: all .2s ease-in-out;

                        @include media-breakpoint-up(md) {
                            font-size: 2rem;
                        }

                        margin: 0 10px 0 0;
                    }

                    a {
                        color: var(--tx-interest-card1-link);
                        text-decoration: none;

                        &:hover {
                            // color: yellow;
                        }

                        &:hover .icon-left {
                            // color: chartreuse;  
                            transform: translateY(-3px);

                        }



                    }


                }



            }
        }
    }

    .card.ins-2 {
        background: var(--bg-interest-card2);

        .card-body {
            color: var(--tx-interest-card2-body);
            min-height: 78px;

            .title-box {
                h3 {
                    font-weight: 700;
                    font-size: 1.2rem;

                    .icon-left {
                        font-size: 1.3rem;
                        transition: all .2s ease-in-out;


                        @include media-breakpoint-up(md) {
                            font-size: 2rem;

                        }

                        margin: 0 10px 0 0;
                    }

                    a {
                        color: var(--tx-interest-card1-link);
                        text-decoration: none;

                        &:hover {
                            // color: yellow;
                        }

                        &:hover .icon-left {
                            // color: chartreuse;  
                            transform: translateY(-3px);

                        }



                    }


                }



            }
        }
    }




}




.slider-section {
    font-family: var(--font1);
    background: rgb(219, 234, 243);
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;

    .title-section {
        font-weight: 700;
        text-transform: uppercase;
    }

    // START BOX-1
    .card.box-1 {
        background: var(--bg-col-1);
        color: var(--tx-color-1);

        .card-title {
            line-height: 35px;

            .day {
                font-weight: 600;
                font-size: 3.5rem;
                color: var(--tx-color-1);
            }

            .month {
                font-size: 1.5rem;
                color: var(--tx-color-1);
                font-weight: 300;

            }
        }

        .card-footer {
            background: var(--bg-col-1);
            border-top: 0;

            .fa-map-marker-alt {
                color: var(--tx-color-1);

                &.up {
                    transition: all .2s ease-in-out;


                    &:hover {
                        transform: translateY(-5px);

                    }
                }
            }
        }
    }

    // END BOX-1
    // START BOX-2
    .card.box-2 {
        background: var(--bg-col-1);
        color: var(--tx-color-1);

        .card-header {
            background: var(--bg-col-1);
            border-bottom: 0;

            .fa-map-marker-alt {
                color: var(--tx-color-1);

                &.up {
                    transition: all .2s ease-in-out;


                    &:hover {
                        transform: translateY(-5px);

                    }
                }
            }
        }

        .card-title {
            line-height: 35px;

            .day {
                font-weight: 600;
                font-size: 3.5rem;
                color: var(--tx-color-1);
            }

            .month {
                font-size: 1.5rem;
                color: var(--tx-color-1);
                font-weight: 300;

            }
        }

        .card-footer {
            background: var(--bg-col-1);
            border-top: 0;
        }
    }

    // END BOX-2
    // START BOX-3
    .card.box-3 {
        background: var(--bg-col-2);
        color: var(--tx-color-1);

        .card-header {
            background: var(--bg-col-1);
            border-bottom: 0;
        }

        .attached {
            font-weight: 300;
            font-size: .8rem;
        }

        .card-title {
            line-height: 35px;

            .day {
                font-weight: 600;
                font-size: 3.5rem;
                color: var(--tx-color-1);
            }

            .month {
                font-size: 1.5rem;
                color: var(--tx-color-1);
                font-weight: 300;

            }
        }

        .card-footer {
            background: var(--bg-col-2);
            border-top: 0;

            .fa-map-marker-alt {
                color: var(--tx-color-1);

                &.up {
                    transition: all .2s ease-in-out;


                    &:hover {
                        transform: translateY(-5px);

                    }
                }
            }
        }
    }

    // END BOX-3


    // START BOX-4
    .card.box-4 {
        background: var(--bg-col-3);
        color: var(--tx-color-3);

        .card-header {
            background: var(--bg-col-1);
            color: var(--tx-color-1);
            border-bottom: 0;

            .fa-map-marker-alt {
                color: var(--tx-color-1);

                &.grow {
                    transition: all .2s ease-in-out;

                    &:hover {
                        transform: scale(1.5);
                    }
                }
            }
        }

        .attached {
            font-weight: 300;
            font-size: .8rem;
        }


        .card-title {
            line-height: 35px;
            color: var(--tx-color-3);

            .day {
                font-weight: 600;
                font-size: 3.5rem;

            }

            .month {
                font-size: 1.5rem;

                font-weight: 300;

            }
        }
    }

    // END BOX-4

    // START BOX-5
    .card.box-5 {
        background: var(--bg-col-2);
        color: var(--tx-color-1);

        .card-header {
            background: var(--bg-col-1);
            border-bottom: 0;
        }



        .attached {
            font-weight: 300;
            font-size: .8rem;

            .link {
                color: var(--tx-color-1);

                &:hover {
                    text-decoration: none;
                }
            }


        }

        .card-title {
            line-height: 35px;


            .day {
                font-weight: 600;
                font-size: 3.5rem;
                color: var(--tx-color-1);
            }

            .cal-y {
                display: grid;
                line-height: 21px;

                .month {
                    font-size: 1.5rem;
                    color: var(--tx-color-1);
                    font-weight: 300;

                }

                .year {
                    font-size: 1.2rem;
                    color: var(--tx-color-1);
                    font-weight: 700;

                }
            }

        }

        .card-footer {
            background: var(--bg-col-2);

            // border-top: 0;   
            .fa-map-marker-alt {
                color: var(--tx-color-1);

                &.grow {
                    transition: all .2s ease-in-out;

                    &:hover {
                        transform: scale(1.5);
                    }
                }
            }
        }
    }

    // END BOX-5

}

.agenda-section {
    font-family: var(--font1);
    background: rgb(219, 234, 243);
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;

    .title-section {
        font-weight: 700;
        text-transform: uppercase;
    }

    // START BOX-1
    .card.box-1 {
        background: var(--bg-col-1);
        color: var(--tx-color-1);

        .card-title {
            line-height: 35px;

            .day {
                font-weight: 600;
                font-size: 3.5rem;
                color: var(--tx-color-1);
            }

            .month {
                font-size: 1.5rem;
                color: var(--tx-color-1);
                font-weight: 300;

            }
        }

        .card-footer {
            background: var(--bg-col-1);
            border-top: 0;

            .fa-map-marker-alt {
                color: var(--tx-color-1);

                &.up {
                    transition: all .2s ease-in-out;


                    &:hover {
                        transform: translateY(-5px);

                    }
                }
            }
        }
    }

    // END BOX-1
    // START BOX-2
    .card.box-2 {
        background: var(--bg-col-1);
        color: var(--tx-color-1);

        .card-header {
            background: var(--bg-col-1);
            border-bottom: 0;

            .fa-map-marker-alt {
                color: var(--tx-color-1);

                &.up {
                    transition: all .2s ease-in-out;


                    &:hover {
                        transform: translateY(-5px);

                    }
                }
            }
        }

        .card-title {
            line-height: 35px;

            .day {
                font-weight: 600;
                font-size: 3.5rem;
                color: var(--tx-color-1);
            }

            .month {
                font-size: 1.5rem;
                color: var(--tx-color-1);
                font-weight: 300;

            }
        }

        .card-footer {
            background: var(--bg-col-1);
            border-top: 0;
        }
    }

    // END BOX-2
    // START BOX-3
    .card.box-3 {
        background: var(--bg-col-2);
        color: var(--tx-color-1);

        .card-header {
            background: var(--bg-col-1);
            border-bottom: 0;
        }

        .attached {
            font-weight: 300;
            font-size: .8rem;
        }

        .card-title {
            line-height: 35px;

            .day {
                font-weight: 600;
                font-size: 3.5rem;
                color: var(--tx-color-1);
            }

            .month {
                font-size: 1.5rem;
                color: var(--tx-color-1);
                font-weight: 300;

            }
        }

        .card-footer {
            background: var(--bg-col-2);
            border-top: 0;

            .fa-map-marker-alt {
                color: var(--tx-color-1);

                &.up {
                    transition: all .2s ease-in-out;


                    &:hover {
                        transform: translateY(-5px);

                    }
                }
            }
        }
    }

    // END BOX-3


    // START BOX-4
    .card.box-4 {
        background: var(--bg-col-3);
        color: var(--tx-color-3);

        .card-header {
            background: var(--bg-col-1);
            color: var(--tx-color-1);
            border-bottom: 0;

            .fa-map-marker-alt {
                color: var(--tx-color-1);

                &.grow {
                    transition: all .2s ease-in-out;

                    &:hover {
                        transform: scale(1.5);
                    }
                }
            }
        }

        .attached {
            font-weight: 300;
            font-size: .8rem;
        }


        .card-title {
            line-height: 35px;
            color: var(--tx-color-3);

            .day {
                font-weight: 600;
                font-size: 3.5rem;

            }

            .month {
                font-size: 1.5rem;

                font-weight: 300;

            }
        }
    }

    // END BOX-4

    // START BOX-5
    .card.box-5 {
        background: var(--bg-col-2);
        color: var(--tx-color-1);

        .card-header {
            background: var(--bg-col-1);
            border-bottom: 0;
        }



        .attached {
            font-weight: 300;
            font-size: .8rem;

            .link {
                color: var(--tx-color-1);

                &:hover {
                    text-decoration: none;
                }
            }


        }

        .card-title {
            line-height: 35px;


            .day {
                font-weight: 600;
                font-size: 3.5rem;
                color: var(--tx-color-1);
            }

            .cal-y {
                display: grid;
                line-height: 21px;

                .month {
                    font-size: 1.5rem;
                    color: var(--tx-color-1);
                    font-weight: 300;

                }

                .year {
                    font-size: 1.2rem;
                    color: var(--tx-color-1);
                    font-weight: 700;

                }
            }

        }

        .card-footer {
            background: var(--bg-col-2);

            // border-top: 0;   
            .fa-map-marker-alt {
                color: var(--tx-color-1);

                &.grow {
                    transition: all .2s ease-in-out;

                    &:hover {
                        transform: scale(1.5);
                    }
                }
            }
        }
    }

    // END BOX-5

}